body {
  background-color: green;
  font-family: arial;  
  color: gold; 
}

h1 {
  border: 5px solid #79F6FC;
  text-align: center;
}

.homepic {
  justify-content: center;
  align-items: center;
  text-align: center;
}